.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  max-width: 400px;
  margin: 20px;
  height: auto;
  height: 80%;
}

.movieImg {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.movieText {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: bisque;
  font-weight: lighter;
}

.movieP {
  margin: 0;
}
